<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" style="background-color: green;">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" style="background-color: white;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Logo_Petr%C3%B3leos_Mexicanos.svg" alt="" width="100px">
        <div class="sidebar-brand-text mx-3" style="color: black;">PIDAP</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Secciones
    </div>

    <li class="nav-item">
        <a class="nav-link" href="/pozos">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Pozos</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/distribuidoras">
            <i class="fas fa-fw fa-table"></i>
            <span>Distribuidoras</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/ventasinternas">
            <i class="fas fa-fw fa-table"></i>
            <span>Ventas Internas</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/ventasexternas">
            <i class="fas fa-fw fa-table"></i>
            <span>Ventas Externas</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/quejas">
            <i class="fas fa-fw fa-table"></i>
            <span>Quejas</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>


</ul>
<!-- End of Sidebar -->