<% layout('layouts/template') %>

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- 404 Error Text -->
    <div class="text-center">
        <div class="error mx-auto" data-text="404">404</div>
        <p class="lead text-gray-800 mb-5">Pagina no Encontrada</p>
        <p class="text-gray-500 mb-0"><%= err %></p>
        <a href="/dashboard">&larr; Regresar al Dashboard</a>
    </div>

</div>
<!-- /.container-fluid -->