<% layout('layouts/template') %>


<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Quejas</h1>
    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
        For more information about DataTables, please visit the <a target="_blank"
            href="https://datatables.net">official DataTables documentation</a>.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <% if(datos.length) {%>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">ID Distribuidora</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Año</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(queja of datos) {%>
                            <tr>
                                <th scope="row"><%= queja.id_queja%></th>
                                <td><%= queja.id_distribuidora %></td>
                                <td><%= queja.estado %></td>
                                <td><%= queja.anio %></td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                    <% }else{ %>
                        <h3 class="text-center">No hay registros en este momento</h3>
                    <% } %>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->



<script src="vendor/datatables/jquery.dataTables.min.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>